<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>hello</h1>
    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>surname</td>
                <td>age</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.age}"></td>
                <td>
                    <a th:href="@{/update(id=${user.id})}">update</a>
                </td>
                <td>
                    <a th:href="@{/delete(id=${user.id})}">delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <input type="button" value="Add" onclick="window.location.href = '/user'">
</body>
</html>