<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
</head>
<body>
    <h1>User-info</h1>
    <form action="/save">
        <input hidden type="text" th:field="${user.id}" />

        <label for="name">Name: </label>
        <input id="name" type="text" th:field="${user.name}" />

        <label for="surname">Surname: </label>
        <input id="surname" type="text" th:field="${user.surname}" />

        <label for="age">Age: </label>
        <input id="age" type="text" th:field="${user.age}" />

        <input type="submit" value="OK" />
    </form>
</body>
</html>
